<html>
<head>
    <title>beehive -{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/imgs/favicon.ico" />
    {% block csssrc %}
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    {% endblock %}
    <style>
        .lineitem{
          margin-bottom:20px;
          margin-left:20px;
        }
        body{
          background-color:#F8F8FF;
        }
    {% block css %}
    {% endblock %}
    </style>

</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Beehive</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="mainnavul">
        <li {% if choiced == "newMission" %}class="active"{% endif %}><a href="/newmission">New Mission</a></li>
        <li {% if choiced == "missions" %}class="active"{% endif %}><a href="/missions">History Missions</a></li>
        <li {% if choiced == "machines" %}class="active"{% endif %}><a href="/machines">Machines</a></li>
      </ul>
      <form class="navbar-form navbar-left" action="http://www.baidu.com/s" target="_blank" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by Baidu" name="wd" id="srch-term">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello,Chris <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sign out</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style="margin-left:20px;margin-right:20px">
{% block container %}
{% endblock %}
</div>


{% block script %}
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/layer/layer.js"></script>

<script>
    $(function(){
        layer.config({
            extend: 'extend/layer.ext.js'
        });
    })
</script>
{% endblock %}
</body>
</html>