{% extends "base.html" %}

{% block title %}
    missions
{% endblock %}

{% block csssrc %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-progressbar-3.2.0.min.css">
    <style>
        .panelstyle{
            font-size:12px;
            color:#CD3700;
        }
        .apipanel {
            margin-bottom:10px;
            padding-top:10px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px; 
            -webkit-box-shadow: #666 0px 0px 3px; 
            -moz-box-shadow: #666 0px 0px 3px; 
            box-shadow: #666 0px 0px 3px;
        }
    </style>
{% endblock %}


{% block container %}

    <form action="/newmission" id="newmissionform" method="post" enctype="multipart/form-data">
        <div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panelstyle">一、任务名称</span>
                </div>
            </div>
            <div class="lineitem">
                <input class="form-control required" id="missionName" type="text" name="missionName" value="Mission_{{ timenow }}">
            </div>
        </div>
        <div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panelstyle">二、接口请求/断言配置</span>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column" id="apilistdiv">
                    <div class="col-md-1" style="padding-right:3px">
                        <div class="list-group" id="apilist" style="text-align:center">
                            <a href="javascript:;" id="apilist-1" class="list-group-item active" onclick="showapiconfig(1)">接口_1</a>
                        </div>
                        <div style="text-align:center">
                            <a href="javascript:;" onclick="addApi()"><span class="glyphicon glyphicon-plus"></span> 添加</a>
                        </div>
                    </div>

                    {{ api_1|safe }}
                </div>
            </div>
        </div>

        <div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <span class="panelstyle">三、选择压测机器</span>
                </div>
            </div>
            <div id="machinelistdiv" class="row" style="padding:10px">
            </div>
        </div>

        <div>
            <div class="panel panel-success" id="runtimeConfig">
                <div class="panel-heading">
                    <span class="panelstyle">四、压测参数配置</span>
                </div>
            </div>
            <div class="lineitem">
                <ul class="list-inline">
                    <li><label><span style="color:red">*</span>并发量：</label><input id="concurrent" name="concurrent" type="text" value="1" class="required"> <label><span style="color:red">*</span>持续时间：</label><input id="looptime" class="required" name="looptime" value="10" type="text"></li>
                    <li>
                        <label class="radio-inline">
                          <input type="radio" name="looptimeOptions" value="0" checked="checked">秒
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="looptimeOptions" value="1">分
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="looptimeOptions" value="2">时
                        </label>
                    </li>
                    <li><label>启动延迟：</label><input name="startDelay" type="text"> 秒</li>
                    <li><label>分析蜂数：</label><input type="text" name="beecount"></li>
                </ul>

                <ul class="list-inline">
                    <li><a class="btn btn-info" id="startbtn">开始压测</a></li>
                    <li><a class="btn btn-danger" id="stopbtn" disabled="disabled">停止任务</a></li>
                    <li><a class="btn btn-warning" id="clearbtn">清除数据</a></li>
                </ul>

            </div>
        </div>
    </form>

    <hr>

    <div>
        <div class="progress progress-striped active" id="progressdiv" style="display:none">
            <div id="progressbar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuemax="4" data-transitiongoal="1"></div>
        </div>
        <div id="initialdetail" style="display:none;text-align:center">
            正在<span id="initialstate">初始化配置</span>...
        </div>

        <div>
            <label>状态：</label><button class="btn btn-warning btn-xs" id="runningstate">未启动</button> <label> time elapsed: </label><span id="elapsed">0</span> / <span id="looptime-state">0</span>
        </div>

        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>label</th>
                        <th>样本量</th>
                        <th>最小响应时间</th>
                        <th>最大响应时间</th>
                        <th>平均响应时间</th>
                        <th>吞吐量</th>
                        <th>错误数</th>
                        <th>错误百分比</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>总体</td>
                        <td id="samples">0</td>
                        <td id="min-time">0</td>
                        <td id="max-time">0</td>
                        <td id="avg-time">0</td>
                        <td id="throught">0</td>
                        <td id="errors">0</td>
                        <td id="error-percent">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="errorsamplediv" style="width:100%;height:auto;margin-bottom:10px">
            <a href="javascript:;" onclick="showerrordetail('connectTimeout')" id="connerror" style="display:none">连接超时 <span class="badge" id="connectTimeout">42</span></a> 
            <a href="javascript:;" onclick="showerrordetail('respTimeout')" id="resperror" style="display:none">响应超时 <span class="badge" id="respTimeout">42</span></a> 
            <a href="javascript:;" onclick="showerrordetail('assertionError')" id="asserterror" style="display:none">断言错误 <span class="badge" id="assertionError">42</span></a> 
            <a href="javascript:;" onclick="showerrordetail('unknownError')" id="unknownerror" style="display:none">服务器错误 <span class="badge" id="unknownError">42</span></a> 
        </div>
        <div style="height:600px" class="col-lg-12">
            <div class="col-lg-6" id="errordiv" style="height:100%">
            </div>
            <div class="col-lg-6" id="elapsediv" style="height:100%"></div>
        </div>

    </div>
{% endblock %}

{% block script %}
    {{ super() }}
    <script src="/static/js/bootstrap-progressbar.min.js"></script>
    <script src="/static/js/echarts.common.min.js"></script>
    <script src="/static/js/main.js"></script>
{% endblock %}

